<div class="po-mt-2">
    <po-container
        [p-no-border]="true"
        [p-no-shadow]="true">

        <div class="po-row po-mt-3">

            <div class="po-sm-10">

                <po-select class="po-sm-2"
                    name="empresa"
                    p-label="Empresa"
                    [p-options]="[
                        { label: '300-Distrib', value: '300' }
                    ]">
                </po-select>
            
                <po-multiselect class="po-sm-4" name="motivoEnvio" p-label="Motivo Envio" 
                    [p-options]="[
                        { value: 'AV', label: 'Simples Aval.' },
                        { value: 'TS', label: 'Troca Simples' },
                        { value: 'TP', label: 'Troca Paga' },
                        { value: 'DV', label: 'Devolução' },
                    ]">
                </po-multiselect>
    
                <po-multiselect class="po-sm-4" name="docEnvio" p-label="Doc. Envio" 
                    [p-options]="[
                        { value: 'OC', label: 'Orçamento' },
                        { value: 'FO', label: 'Formulário' },
                        { value: 'CA', label: 'Carta' },
                        { value: 'NF', label: 'Nota Fiscal' },
                    ]">
                </po-multiselect>
    
                <span class="po-sm-2">
                    <span class="po-font-text-large-bold">Nota Fiscal</span>
                    <po-input></po-input>
                </span>

            </div>

            <div class="po-sm-2">
                
                <po-button 
                    class="po-sm-12 po-mt-4"
                    p-icon="fa fa-search" 
                    p-label="Pesquisar"
                    p-type="primary">
                </po-button>

                <po-button 
                    class="po-sm-12 po-mt-1" 
                    p-icon="fa fa-eraser" 
                    p-label="Limpar"
                    p-type="secondary">
                </po-button>    

            </div>


            
        </div>

    </po-container>

</div>

<div class="po-row po-mt-2">

    <po-table class="po-sm-12"
      p-container="shadow"
      [p-height]="400"
      [p-columns]="columnsRegRecep"
      [p-items]="listRegRecep"
      [p-literals]="literalsRegRecep"
      [p-striped]="true">
    </po-table>

</div>
