<po-page-default>

    <div *ngIf="!newPassword">
        <img class="po-page-blocked-user-image po-mb-5 po-mt-5" src="./assets/images/expired.svg" />

        <div class="po-row">
            <p class="po-font-title po-text-center po-md-12 po-mb-2">Oops!</p>
            <po-button class="po-mb-5 po-offset-md-3 po-md-6 po-offset-lg-4 po-lg-4 po-offset-xl-4 po-xl-4"
                p-label="Esqueceu sua senha?" p-kind="primary" (p-click)="openPasswordRecoveryModal()">
            </po-button>
        </div>

        <po-modal-password-recovery (p-submit)="recoveryPassword($event)"> </po-modal-password-recovery>
    </div>

    <div *ngIf="loadingView" class="sample-container">
        <po-loading-overlay p-text="Por favor, aguarde"></po-loading-overlay>
    </div>


</po-page-default>