
<div class="po-mt-2">
    <po-container
        [p-no-border]="true"
        [p-no-shadow]="true">

        <div class="po-row po-mt-3">
        
            <span class="po-sm-3">
                <span class="po-font-text-large-bold">Família</span>
                <po-input></po-input>
            </span>
            
            <po-select class="po-sm-4 po-mt-3"
                name="familia"
                [p-options]="[
                    { label: 'AQUARELLA TRIMESTRAL', value: '1' }
                ]"
                >
            </po-select>

            <po-button 
                class="po-offset-sm-1 po-offset-md-1 po-offset-lg-1 po-offset-xl-1 po-sm-4 po-mt-4" 
                p-label="Saldos (Todas Famílias)"
                p-type="primary">
            </po-button>
            
        </div>

    </po-container>

</div>


<div class="po-row po-mt-2">
    
    <po-accordion class="po-sm-12">

        <po-accordion-item p-label="Créditos - Total 0">

            <po-table class="po-sm-12"
                p-container="shadow"
                [p-height]="450"
                [p-columns]="columnsCreditos"
                [p-items]="itensCreditos"
                [p-literals]="literalsTabelas"
                [p-striped]="true">
            </po-table>
    
        </po-accordion-item>
    
        <po-accordion-item class="po-mt-2" p-label="Trocas - Total 0">

            <po-table class="po-sm-12"
                p-container="shadow"
                [p-height]="400"
                [p-columns]="columnsTrocas"
                [p-items]="itensTrocas"
                [p-literals]="literalsTabelas"
                [p-striped]="true">
            </po-table>

        </po-accordion-item>
    
    </po-accordion>


</div>
