<div class="po-row">

    <!--<div class="po-sm-12">
        <po-divider p-label="Histórico de pedidos"></po-divider>
    </div>-->  

    <po-button class="po-offset-sm-11 po-offset-md-11 po-offset-lg-11 po-offset-xl-11 po-sm-1 po-mt-0"
        p-tooltip-position="left" p-tooltip="Selecionar Filtro(s)"
        [p-icon]="template"
        p-type="tertiary"
        (p-click)="openModalFilter()">
    </po-button>

</div>

<ng-template #template>
    <mat-icon>filter_list</mat-icon>
</ng-template>

<div class="po-row po-mt-1">

    <po-table class="po-sm-12"
      p-container="shadow"
      [p-height]="400"
      [p-columns]="columnsHistCompras"
      [p-items]="listHistCompras"
      [p-literals]="literalsHistCompras"
      [p-striped]="true"
      [p-hide-text-overflow]="true">
    </po-table>

</div>

<po-modal #modalFilterHisCompras
    p-title="Filtrar Histórico de Compras"
    p-size="xl"
    [p-primary-action]="confirmFilter" 
    [p-secondary-action]="cancelFilter">

    <div class="po-mt-2">
        <po-container
            [p-no-border]="true"
            [p-no-shadow]="true">
    
            <div class="po-row po-mt-3">
            
                <po-tag class="po-sm-2 po-mt-5" 
                    p-icon  [p-type]="tagType" 
                    p-value="Filtro p/ Pedido">
                </po-tag>
                
                <po-select class="po-sm-2"
                    name="empresa"
                    p-label="Empresa"
                    [p-options]="[
                        { label: '300-Distrib', value: '300' }
                    ]"
                    >
                </po-select>
                
                <po-select class="po-sm-3"
                    name="operacao"
                    p-label="Operação"
                    [p-options]="[
                        { label: 'Faturar', value: '1' }
                    ]"
                    >
                </po-select>
                
                <span class="po-sm-2">
                    <span class="po-font-text-large-bold">Pedido</span>
                    <po-input></po-input>
                </span>
            
                <po-datepicker-range class="po-sm-3" name="pedidoRangeData" p-label="Data De/Ate"> </po-datepicker-range>
            </div>
            
            <div class="po-row po-mt-1">
    
                <!--<div class="po-sm-8">-->
                    
                    <po-tag class="po-sm-3 po-mt-3" 
                        p-icon  [p-type]="tagType" 
                        p-value="Filtro p/ Itens">
                    </po-tag>
                    
                    <po-checkbox-group class="po-sm-3"
                        name="checkboxGroup"
                        p-label="Pedidos Contém"
                        [p-columns]="1"
                        [p-options]="[
                            { value: '1', label: 'GEL' },
                            { value: '2', label: 'RGP' },
                            { value: '3', label: 'ESP' }
                        ]">
                    </po-checkbox-group>
                
                    <span class="po-sm-6">
                        <span class="po-font-text-large-bold">Num. NF</span>
                        <po-input></po-input>
                    </span>
                <!--</div>
    
                <div class="po-sm-4">
    
                    <po-button
                        class="po-sm-12 po-mt-4"
                        p-icon="fa fa-search" 
                        p-label="Pesquisar"
                        p-kind="primary">
                    </po-button>
    
                    <po-button
                        class="po-sm-12 po-mt-1"
                        p-icon="fa fa-eraser" 
                        p-label="Limpar"
                        p-kind="secondary">
                    </po-button> 
    
                </div>-->
            
            
            </div>
    
        </po-container>
    
    </div>

</po-modal>

