<div class="po-row po-mt-2">

    <po-table class="po-sm-12"
      p-container="shadow"
      [p-actions]="actions"
      [p-auto-collapse]="true"
      [p-height]="400"
      [p-columns]="columnsSAC"
      [p-items]="itensSAC"
      [p-literals]="literalsSAC"
      [p-sort]="true"
      [p-striped]="true"
      [p-actions-right]="true">

        <ng-template
            p-table-row-template
            let-rowItem
            let-i="rowIndex"
            [p-table-row-template-arrow-direction]="right"
            [p-table-row-template-show]="isUndelivered">

            <po-widget p-title="ID Sac {{ rowItem.id }}">
            
                <div class="po-row">

                    <po-info class="po-sm-3" p-label="Contato" [p-orientation]="horizontal" [p-value]="rowItem.contato"></po-info>

                    <po-info class="po-sm-3" p-label="Ação" [p-orientation]="horizontal" [p-value]="rowItem.codAcao"></po-info>

                    <po-info class="po-sm-3" p-label="Dia" [p-orientation]="horizontal" [p-value]="rowItem.dia"></po-info>

                    <po-info class="po-sm-3" p-label="Classificação" [p-orientation]="horizontal" [p-value]="rowItem.classificacao"></po-info>
                    
                </div><br>

                <div class="po-row">
                    
                    <po-link class="po-sm-6" [p-label]="rowItem.pedido"> </po-link>

                    <po-info class="po-sm-6" p-label="Número RR" [p-orientation]="horizontal" [p-value]="rowItem.numeroRR"></po-info>

                </div><br>

                <div class="po-row">

                    <po-info class="po-sm-12" p-label="Resumo" [p-orientation]="horizontal" [p-value]="rowItem.resumo"></po-info>

                </div><br>

                <div class="po-row">

                    <po-info class="po-sm-3" p-label="A Fazer" [p-orientation]="horizontal" [p-value]="rowItem.fazer"></po-info>

                    <po-info class="po-sm-3" p-label="Responsável" [p-orientation]="horizontal" [p-value]="rowItem.responsavel"></po-info>

                    <po-info class="po-sm-3" p-label="Usuário" [p-orientation]="horizontal" [p-value]="rowItem.usuario"></po-info>

                </div><br>

                <div class="po-row">

                    <po-info class="po-sm-12" p-label="Resposta" [p-orientation]="horizontal" [p-value]="rowItem.resposta"></po-info>

                </div>
            
            </po-widget>

        </ng-template>

    </po-table>

</div>
