<po-page-default class="animate-fade-in">
    <po-container class="po-text-center po-ml-5" [p-no-border]="true">
        <font class="po-font-display">Suas informações em um só lugar</font>
    </po-container>

    <po-container [p-no-border]="true">

        <po-widget class="po-md-6">

            <div class="po-text-center">
                <font class="po-font-subtitle">Produto mais vendido</font>
            </div>

            <div class="img-container">
                <img class="img-vencedor" src="/assets/images/produto_vencedor.svg" alt="Produto mais vendido">
            </div>

            <div class="po-text-center">
                <font class="po-font-subtitle custom-text-produto-mais-vendido">CANETA AZUL</font>
            </div>

        </po-widget>

        <po-widget class="po-md-6">

            <div class="po-text-center">
                <font class="po-font-subtitle">Produto menos vendido</font>
            </div>

            <div class="img-container">
                <img class="img-vencedor" src="/assets/images/dashboard-home-segment.svg" alt="Produto mais vendido">
            </div>

            <div class="po-text-center">
                <font class="po-font-subtitle custom-text-produto-menos-vendido">BORRACHA ESCOLAR FABER CASTEL</font>
            </div>

        </po-widget>

    </po-container>

    <po-container [p-no-border]="true">

        <po-widget class="po-md-6 prodvencedor ">

            <div class="po-text-center">
                <font class="po-font-subtitle">Histórico de pagamentos</font>
            </div>

            <div class="img-container">
                <img class="img-vencedor" src="/assets/images/payments.svg" alt="Produto mais vendido">
            </div>

            <po-table>

            </po-table>

        </po-widget>

        <po-widget class="po-md-6 prodvencedor ">

            <div class="po-text-center">
                <font class="po-font-subtitle">Produtos com menos estoque</font>
            </div>

            <div class="img-container">
                <img class="img-vencedor" src="/assets/images/oh-no.svg" alt="Produto mais vendido">
            </div>

            <po-table>

            </po-table>

        </po-widget>

    </po-container>

</po-page-default>