<div class="po-row">
    <span class="po-sm-3">
        <span class="po-font-text-large-bold">Código</span>
        <po-input  [(ngModel)]="codigo" name="codigo" p-readonly></po-input>
    </span>

    <span class="po-sm-3">
        <span class="po-font-text-large-bold">Vendedor</span>
        <po-input [(ngModel)]="vendedor" name="vendedor" p-readonly></po-input>
    </span>
</div>

<div class="po-row">
    <span class="po-sm-6">
        <span class="po-font-text-large-bold">Nome</span>
        <po-input [(ngModel)]="nome" name="nome" p-readonly></po-input>
    </span>

    <span class="po-sm-4">
        <span class="po-font-text-large-bold">CNPJ</span>
        <po-input [(ngModel)]="cgc" name="cgc" p-readonly></po-input>
    </span>

    <span class="po-sm-2">
        <span class="po-font-text-large-bold">CRM</span>
        <po-input [(ngModel)]="crm" name="crm" p-readonly></po-input>
    </span>
</div>

<div class="po-row">
    <span class="po-sm-6">
        <span class="po-font-text-large-bold">Nome Reduzido</span>
        <po-input [(ngModel)]="nomeReduzido" name="nomeReduzido" p-readonly></po-input>
    </span>

    <span class="po-sm-4">
        <span class="po-font-text-large-bold">Tel</span>
        <po-input [(ngModel)]="telefone" name="telefone" p-readonly></po-input>
    </span>

    <span class="po-sm-2">
        <span class="po-font-text-large-bold">Fax</span>
        <po-input [(ngModel)]="fax" name="fax" p-readonly></po-input>
    </span>
</div>

<div class="po-row">
    <span class="po-sm-6">
        <span class="po-font-text-large-bold">Grupo</span>
        <po-input [(ngModel)]="grupo" name="grupo" p-readonly></po-input>
    </span>

    <span class="po-sm-6">
        <span class="po-font-text-large-bold">Transportadora</span>
        <po-input [(ngModel)]="transportadora" name="transportadora" p-readonly></po-input>
    </span>
</div>

<div class="po-row">
    <span class="po-sm-6">
        <span class="po-font-text-large-bold">Endereço</span>
        <po-input [(ngModel)]="endereco" name="endereco" p-readonly></po-input>
    </span>

    <span class="po-sm-6">
        <span class="po-font-text-large-bold">Endereço Entrega</span>
        <po-input [(ngModel)]="enderecoEntrega" name="enderecoEntrega" p-readonly></po-input>
    </span>
</div>
