<img class="custom-image animate-fade-in" src="/assets/images/cadok.svg" alt="success register">

<div>
  <div class="custom-text">
    <div class="subtitle">
      Uhu, agora você é o nosso mais novo parceiro! \o/
    </div>
    <div class="description">
      Caso queira os detalhes do seu cadastro, clique no botão abaixo!
      <po-button class="po-row buttonOk" [p-disabled]="false" p-icon="po-icon po-icon-download" p-label="Obter detalhes"
        [p-loading]="false" [p-small]="false" p-type="default" (p-click)="onClickButton()">
      </po-button>
    </div>
  </div>