<!--*ngIf="cliente"-->
<po-container
    class="po-sm-12 po-md-12 po-lg-12 po-xl-12 po-mt-2"
    [p-no-border]="false"
    [p-no-shadow]="false"
    [p-height]="600">

    <po-tabs [p-small]="true">
        
        <po-tab [p-active]="true" p-label="Operação">

            <div class="po-row">
        
                <po-datepicker class="po-sm-3" name="Data" p-label="Data"> </po-datepicker>
            
                <span class="po-sm-3">
                    <span class="po-font-text-large-bold">Código do pedido (Cliente)</span>
                    <po-input></po-input>
                </span>
        
                <po-select class="po-sm-3"
                    name="tmk"
                    p-label="TMK"
                    [p-options]="[
                        { label: 'Receptivo', value: '1' }
                    ]"
                    >
                </po-select>
        
                <po-select class="po-sm-3"
                    name="via"
                    p-label="Via"
                    [p-options]="[
                        { label: 'Telefone', value: '1' }
                    ]"
                    >
                </po-select>
        
            </div>
        
            <div class="po-row">
        
                <po-select class="po-sm-4"
                    name="tmk"
                    (p-change)="changeOperacao($event)"
                    p-label="Operação"
                    [p-options]="[
                        { label: 'Faturar', value: '1' },
                        { label: 'Faturar 2', value: '2' },
                        { label: 'Faturar 3', value: '3' }
                    ]"
                    >
                </po-select>
        
                <po-select class="po-sm-4"
                    name="tmk"
                    p-label="Cond. Pagto"
                    [p-options]="[
                        { label: 'A Vista Carteira', value: '001' }
                    ]"
                    >
                </po-select>
        
                <!--<po-button class="po-sm-2 po-mt-4" p-label="Digitado" p-kind="primary"> </po-button>-->
        
                <po-select class="po-sm-4"
                    name="tmk"
                    p-label="Tab. de preço"
                    [p-options]="[
                        { label: '001 - ATE 10', value: '1' }
                    ]"
                    >
                </po-select>
        
            </div>

            <div *ngIf="operacao">

                <div class="po-row po-sm-12 po-mt-5">
                    <po-button class="po-sm-2 po-mb-1" p-label="Parafuso c/ parâmetros*" p-kind="primary"></po-button>
                    <po-button class="po-sm-2 po-mb-1" p-label="Produtos s/ parametros"></po-button>
                    <po-button class="po-sm-2 po-mb-1" p-label="Obs"></po-button>
                    <po-button class="po-sm-2 po-mb-1" p-label="Lote por faixa"></po-button>
                    <po-button class="po-sm-2 po-mb-1" p-label="Kit"></po-button>
                    <po-button class="po-sm-2 po-mb-1" p-label="Retirar" [p-danger]="true"></po-button>
                </div>
                
                <div class="po-row po-sm-12">
                    <po-divider class="po-sm-12 po-mt-2" p-label="Itens"></po-divider>
                </div>

                <div class="po-row po-sm-12">

                    <po-table class="po-sm-12"
                        [p-actions]="actions"
                        [p-columns]="columnsItensOperacao"
                        [p-items]="listItensOperacao"
                        [p-literals]="literalsItensOperacao"
                        [p-striped]="true"
                        [p-actions-right]="true">
                    </po-table>
                
                </div>

            </div>


        </po-tab>

        <po-tab p-label="Fechamento">

        </po-tab>

        <po-tab p-label="Ocorrências SAC">

        </po-tab>
    
    </po-tabs>

</po-container>